.empresa {
  padding: 0 4rem;
  height: calc(100vh - 6.5rem);
  overflow-y: scroll;

  h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  h3 {
    color: var(--black);
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  button {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    border: 0;

    transition: filter 0.2s;

    margin-left: 0.5rem;
    right: 0;
    bottom: 0;
    background: var(--green);

    &:hover {
      filter: brightness(0.9);
    }
  }
  .header {
    display: flex;
    align-items: center;
  }

  .destaque {
    color: var(--black);
    font-family: Lexend, sans-serif;
    font-weight: 600;
    text-decoration: none;
    line-height: 1.4rem;
    font-size: 1.2rem;
  }
  .buttons {
    width: 400px;
    display: flex;
    justify-content: flex-end;

    margin-left: auto;
  }
}

.dadosGerais {
  background-color: var(--light-gray);
  border-radius: 1rem;
  padding: 2rem;
  .infoGeral {
    padding-bottom: 2rem;

    table {
      width: 100%;

      th,
      td {
        height: 2rem;
        padding: 0.5rem 1rem;
        color: var(--dark-blue);
      }

      th {
        color: var(--black);
        text-transform: uppercase;
        font: 500 0.75rem Lexend, sans-serif;
        text-align: left;
        height: 2rem;
      }

      td {
        font-size: 1.15rem;
      }

      a {
        text-decoration: none;
        color: var(--light-blue);
      }
    }
    .destaque {
      padding: 0.5rem 1rem;
      color: var(--black);
      font-family: Lexend, sans-serif;
      font-weight: 600;
      text-decoration: none;
      line-height: 1.4rem;
      font-size: 1.2rem;
    }
  }
  .infoDepartamento {
    table {
      width: 100%;
      margin-bottom: 1rem;

      th,
      td {
        height: 2rem;
        padding: 0.5rem 1rem;
        color: var(--dark-blue);
      }

      th {
        color: var(--black);
        text-transform: uppercase;
        font: 500 1rem Lexend, sans-serif;
        text-align: left;
        height: 2rem;
      }

      td {
        font-size: 1.15rem;
      }

      a {
        text-decoration: none;
        color: var(--light-blue);
      }
    }
  }
  .dataAtualizacao {
    padding-bottom: 2rem;
    color: var(--dark-blue);
  }
}
